body {
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    padding: 4em 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d6dfdd;
    color: rgb(50, 50, 50);
}
header {
    position: fixed;
    padding: 30px;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background: salmon;
    color: white;
    font-size: 20px;
  }
.SafetyDistanceBottom {
    padding-bottom: 3em;
}
.SafetyDistanceTop {
    padding-top: 1em;
}
h1 {
    margin-top: 1em;
}
h3 {
    color:rgb(79, 78, 78)
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: salmon;
    color: white;
    text-align: center;
}
a:link {
    text-decoration: none;
    color: rgb(47, 87, 174);
  }
a:visited {
    color: rgb(47, 87, 174);
  }
a:hover{
    color: rgb(79, 78, 78);
    text-decoration: underline;
  }
a:active {
    text-decoration: underline;
  }

* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: rgb(176, 171, 171); /* Grey background */
}

.skills {
  text-align: left; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  padding-left: 10px;
  font-size: small;
  color: white; /* White text color */
}
.snacking {width: 100%; background-color: #808080;} /* Dark Grey */
.pm {width: 80%; background-color: #808080;}
.html {width: 25%; background-color: #808080;}
.css {width: 25%; background-color: #808080;}